<div class="adminwrapper">
  <h2>ようこそ。Welcome to the Nokogiri Admin area!</h2>
  <p>From here you can manage all sorts of things... don't let the power go to your head!</p>
    <div class="admindash"><%= link_to "ORDERS", orders_path %></div>
    <div class="admindash"><%= link_to "CATEGORIES", categories_path %></div>
    <div class="admindash"><%= link_to "MENU ITEMS", menu_items_path %></div>
  <div style="clear: both;"></div>
</div>
