<div class="page-wrapper">
  <div class="content">
    <img src="assets/sushi.png" border="0" alt="sushi" width="100%">
    <div class="profile-wrapper">
      <div class="profiles">
        <a href="https://github.com/dalexj"><h2>ALEX</h2></a>
        <a href="https://github.com/dalexj"><img src="assets/alex.jpg" border="0" alt="alex" width="40%"/></a>
      </div>
      <div class="profiles">
        <a href="https://github.com/chandracarney"><h2>CHANDRA</h2></a>
        <a href="https://github.com/chandracarney"><img src="assets/chandra.jpg" border="0" alt="chandra" width="40%"/></a>
      </div>
      <div class="profiles">
        <a href="https://github.com/katelane"><h2>KATE</h2></a>
        <a href="https://github.com/katelane"><img src="assets/kate.jpg" border="0" alt="kate" width="40%"/></a>
      </div>
      <div class="profiles">
        <a href="https://github.com/zRouth"><h2>ZACH</h2></a>
        <a href="https://github.com/zRouth"><img src="assets/zach.jpg" border="0" alt="zach" width="40%"/></a>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
