<div class="about-us">About</div><br>
  <div class="profile-wrapper">
    <% @profiles.each do |name, github_username| %>
      <div class="profiles">
        <h2><%= link_to name.upcase, "https://github.com/#{github_username}" %></h2>
        <%= link_to image_tag("#{name}.jpg", border: 0, alt: name, width: "40%"), "https://github.com/#{github_username}" %>
        <p>
          Alex has enjoyed his time growing up in rural Alaska, hunting fresh salmon with the bears every year. When he is not wading in the icey rivers, he enjoys long walks in the wilderness.
          Chandra has found that she works best
          Kate is known for picking fresh seaweed off the ocean floor. W
        </p>
      </div>
    <% end %>
  <div style="clear: both;"></div>
</div>
