<div class="contact-us">Contact Us</div><br>

<div class="contact-wrapper">
    <div class="contact">
      <p>Nokogiri Sushi can be found at <strong>1510 Blake St in Downtown Denver</strong>.<br>
         Part of the bustling and food-diverse LoDo neighborhood, Nokogiri is just steps away from the 16th Street Mall and easily accessible via public transit.</p>
      <center><h2>HEY, THIS IS IMPORTANT!</h2></center>
      <p><span class="red">We are <strong>NOT</strong> a dine-in restaurant!</span><br>Our hard-working kitchen is able to provide amazing sushi for pickup or delivery 24/7 specifically <em>because</em> we don't maintain a dining room... But psst, if you swing by to place or pickup an order, we usually have small plates for sampling!</p>
      <br>
      <p><strong>Stop by or call 1-800-EAT-FISH to place an order!</strong></p>
      <p><strong>Hours:</strong> We're open 24 hours, 7 days a week... seriously!</p>
      <p><strong>General inquiries:</strong> japaneselumberjack [at] nokogirisushi [dot] com</p>
      <p><strong>Catering Info:</strong> catering [at] nokogirisushi [dot] com </p>
      <p><strong>Phone:</strong> 1-800-EAT-FISH</p>
    </div>
    <div class="contactmap">
      <h2>FIND US IN LODO</h2>
      <p><a href="https://www.google.com/maps/place/1510+Blake+St,+Denver,+CO+80202/@39.7496354,-105.0001058,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4f9a0b7ab:0xf712a29bb757e39e?hl=en" target="_new">
      <img src="assets/map_big.jpg" border="0" alt="map" width="90%"></a></p>
      <p><span class="note">Click on the map to visit Google Maps.</span></p>
    </div>
  <div style="clear: both;"></div>
</div>
