<div class="page-wrapper">
  <div class="content">
    <img src="assets/sushi.png" border="0" alt="sushi" width="100%">
      <div class="content">
        <p>We are located on in Downtown Denver on the corner of 15th and Blake</p>
        <p>Contact us</p>
        <p>Email us @ <a href="mailto: zrouthier@gmail.com">scrummaster@nokogirisushi.com</a></p>
        <p>Call us at 303-555-5555</p>
        <p><img src="assets/news_map.jpg" border="0" alt="map" width="90%"></p>
      </div>
  </div>
</div>
