<div class="news">
  <a href="/menu"><h2>ORDER NOW FROM OUR MENU</h2></a>
  <a href="/menu"><img src="assets/sushicloseup.jpg" border="0" alt="sushi" width="90%"></a>
  <p><strong>FREE DELIVERY</strong> with orders over $20!</p>
</div>

<div class="news">
  <a href="/contact"><h2>NOKOGIRI CATERS!</h2></a>
  <a href="/contact"><img src="assets/sushiplatter.jpg" border="0" alt="sushi" width="90%"></a>
  <p><a href="/contact">Contact us</a> for catering and party info.</p>
</div>

<div class="news">
  <a href="/about"><img src="assets/news_about.jpg" border="0" alt="map" width="90%"></a>
</div>

<div class="news">
  <a href="/contact"><img src="assets/news_map.jpg" border="0" alt="map" width="90%"></a>
</div>

<div style="clear: both;"></div>
