<div class="page-wrapper">
  <div class="content">
    <img src="assets/sushi.png" border="0" alt="sushi" width="100%">
    <% if @menu_items.empty? %>
      <h1>THERE ARE NO MENU ITEMS.<br>NO FOOD 4 U</h1>
    <% end %>
    <div class="menu">
      <% @menu_items.each do |menu_item| %>
        <div class="menu-item">
          <span class="menu-item-title"><%= menu_item.title.upcase %></span>
          <span class="menu-item-price"><%= number_to_currency(menu_item.price / 100.0) %></span>
          <span class="menu-item-description"><%= menu_item.description %></span>
        </div>
      <% end %>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
