<div class="page-wrapper">
  <div class="content">
    <img src="assets/sushi.png" border="0" alt="sushi" width="100%">
    <% if @menu_items.empty? %>
      <h1>THERE ARE NO MENU ITEMS.<br>NO FOOD 4 U</h1>
    <% end %>
    <% @menu_items.each.with_index do |menu_item, i| %>
      <h2><%= i %></h2>
      <div class="menu-item">
        <%= menu_item.title %><br>
        <%= menu_item.description %><br>
        <%= number_to_currency(menu_item.price / 100.0) %>
      </div>
    <% end %>
  </div>
</div>
