<% @orders.each do |order| user = order.user %>
<div style="border: 1px solid black; margin: 10px; padding: 10px;">
  <h4>Your order:</h4>
  <div class="items-in-this-order">
    <%= render partial: "orders/order_menu_item", collection: order.order_menu_items %>
  </div>
  Total cost: <%= number_to_currency(order.total_cost / 100.0) %><br>
</div>
<% end %>
