<h1>Categories</h1>
<h3><a href="/categories/new">New</a></h3>
<% @categories.each do |category| %>
    <p>ID: <%= category.id %></p>
    <p><a href="<%= category_path(category) %>">Title: <%= category.title %></a></p>
    <br>
<% end %>
