    <h2>MENU ITEMS</h2>
    <p><%= link_to "New", new_menu_item_path %></p>
    <% @menu_items.each do |menu_item| %>
      <p><%= link_to "Title: #{menu_item.title}", menu_item_path(menu_item) %><br>
      <%= menu_item.description %><br>
      <%= menu_item.price %></p>
    <% end %>
