<footer>
  <p>&copy; 2014 Nokogiri Sushi &amp; <a href="http://tutorials.jumpstartlab.com/projects/dinner_dash.html" target="_new" alt="Dinner Dash">Dinner Dash, LLC</a> | 1510 Blake St, Denver, CO 80202 | 1-800-EAT-FISH</p>
</footer>
<div class="bumper"></div>
