<div class="page-wraper">
<header>
  <img src="/assets/lumberjack.png" alt="Japanese Lumberjack">
    <subnav><a href="/login">Sign in</a> | <a href="users/new">Sign up</a></subnav>
  <h1>NOKOGIRI SUSHI</h1>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/menu">MENU</a></li>
      <li><a href="#">MAYBE</a></li>
    </ul>
  </nav>
</header>
</div>
