<header>
  <img src="/assets/lumberjack.png" alt="Japanese Lumberjack">
  <% if current_user %>
    <subnav><%= link_to "Logout", logout_path, id: 'logout', method: 'delete' %></subnav>
  <% else %>
    <subnav><%= link_to "Sign in", "/login" %> | <%= link_to "Sign up", new_user_path %></subnav>
  <% end %>
  <h1>NOKOGIRI SUSHI</h1>
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/menu">MENU</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
</header>
